* {
    margin: 0;
    border: none;
    padding: 0;
}
body {
    background-color:slategray;
}
#mark p {
    height: 20px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
#mark #quizNum {
    height: 20px;
    width: 200px;
    font-weight: bold;
    transform: translateX(-50px);
}
.select1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 1000px;
    transform: translateY(100px);
}
.select1 > div > img {
    width: 225px;
    margin: 100px 0 0 0;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.7);
    transition-duration: 1s;
    transition-delay: 0.2s;
    transform: translateY(-70px);
}
.select1 > div > div {
    display: flex;
    flex-direction: column;
    height: 200px;
}
.select1 > :nth-child(1) > div > a {
    box-sizing: border-box;
    height: 100px;
    transform: translateY(30%);
    background-color:#d19d62;
    border-radius: 20px;
    border: 7px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 5px;
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0s;
    text-decoration: none;
    color: #6A53AF;
    font-weight: 900;
    font-size: 19px;
    vertical-align: middle;
    text-align: center;
}
.select1 > :nth-child(2) > div > a {
    box-sizing: border-box;
    height: 100px;
    transform: translateY(30%);
    background-color:#629ad1;
    border-radius: 20px;
    border: 7px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 5px;
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0s;
    text-decoration: none;
    color: #12043b;
    font-weight: 900;
    font-size: 19px;
    vertical-align: middle;
    text-align: center;
}
.select1 > div:hover > img {
    border-radius: 50% 50% 40px 40px;
    transition-delay: 0s;
}
.select1 > div:hover > div > a {
    transform: translateY(-70%);
    opacity: 1;
    transition-delay: 0.2s;
}
