#mark {
    margin: 50px auto;
    position: static;
}
#mark, #mark * {
    width: 100px;
    height: 100px;
}
#mark figcaption{
    font-size: 50px;
    font-weight: 900;
    width: 400px;
    margin: 0 0 0 -75px;
}
#mark a img {
    transition-duration:1s;
    transition-timing-function:ease-in-out;
}
#mark a img:hover{
    transform: rotatez(540deg);
}
#mark p {
    height: 20px;
    margin: 0 auto;
    text-align: center;
}
#mark #quizNum {
    height: 20px;
    width: 200px;
    transform: translateX(-50px);
}